.slider {
    position: relative;
    flex-grow: 1;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-gap: 2vmin;
    justify-items: center;
    align-items: center;
    background-image: url('../images/svg/D000.svg');
    background-size: 100% 100%;
}

.slider img {
    grid-column: span 2;
    max-width: 90%;
    margin-bottom: -52%;
    clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
    transition: all 1s;
}

.slider img:nth-child(7n+1) {
    grid-column: 2/span 2;
}

.slider img:hover {
    z-index: 2;
    transform: scale(1.4);
}