/*========= HEADER =======*/
@import url(Menu.css);
/* ======== SLIDER ======== */
@import url(slider.css);
/* ======== ADVENTURE ======== */
@import url(adv_slider.css);
/* ======== HOTEL ======== */
@import url(hotel.css);

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: #00ADB5;
  scroll-behavior: smooth;
  font-size: 25px;
  
}

html {
  height: 100%;
  font-size: 16px;
  line-height: 1.5;
  background-color: #222831;
}

div {
  height: 100%;
  width: 100%;
}

/* ======== CITY ======== */
#home {
  display: inline-block;
}

.cityname {
  font-size: 100px;

}

.citynickname {
  text-decoration: none;
  font-size: 35px;
  color: #EEEEEE;
}

#food {
  background-image: url('../images/svg/F000.svg');
  background-size: 100% 100%;
}

#reach {
  background-image: url('../images/svg/T000.svg');
  background-size: 100% 100%;
}

#reach div {
  height: 40%;
  width: 25%;
  float: left;
  opacity: 0.9;
}

#reach img {
  height: 80%;
  width: 90%;
}

.transport {
  border-radius: 25px;
  color: #EEEEEE;
  background-color: #393E46;
  margin: 25px 50px;
  text-align: center;
}

#contact {
  height: 70vh;
}

.fleft {
  height: 40%;
  width: 50%;
  float: left;
  background-image: url('../images/svg/C000.svg');
  background-size: 100% 100%;
}

.fright {
  height: 40%;
  width: 50%;
  float: right;
  padding-left: 50px;
  color: #EEEEEE;
  background-image: url('../images/svg/C001.svg');
  background-size: 100% 100%;
}

.fright input {
  margin: 10px;
  outline: none;
  background: transparent;
  border-radius: 5px;
  padding: 5px;
}

.fbottom {
  height: 60%;
  width: 100%;
  overflow: hidden;
}